.ALLMain {
  -webkit-transition: 1s;
  display: flex;
  margin-top: 100px;
}

.ButtonImageResposive {
  -webkit-transition: 1s;
  display: none;
}
.BinpactText {
  -webkit-transition: 1s;
  -webkit-transition: 1s;
  font-size: 100px;
  height: 230px;
  font-family: "Sakkal Majalla";
  color: #2864aa;
  margin-left: 30px;
}
.BinpactText {
  -webkit-transition: 1s;
  margin-left: 80px;
}
.BinpactText p {
  -webkit-transition: 1s;
  height: 60px;
  font-size: 100px;
  width: 500px;
}
.Padding {
  -webkit-transition: 1s;
  margin-top: 30px;
  opacity: 60%;
}
.TextDesinMain {
  color: #848484;
  line-height: 1.8;
  margin-left: 80px;
}
.ButtoSeemore {
  -webkit-transition: 1s;
  padding-bottom: 12px;
  margin-left: 80px;
  border-radius: 30px;
  border: none;
  background-color: #bf0d1f;
  color: white;
  height: 28px;
  width: 100px;
  font-family: "Myriad Pro";
  font-weight: 300;
  font-size: 20px;
}
.ButtonMve button {
  -webkit-transition: 1s;
  border: none;
  background-color: #848484;
  border-radius: 30px;
  height: 10px;
  margin-left: 5px;
  width: 3px;
}
.ButtonMve {
  -webkit-transition: 1s;
  margin-left: 82px;
  margin-top: 40px;
}
.Image {
  -webkit-transition: 1s;
  margin-top: 100px;
}
.Image img {
  -webkit-transition: 1s;
  width: 700px;
  margin-left: 450px;
}
.TextMenu {
  -webkit-transition: 1s;
  margin-left: 50px;
}
@media screen and (max-width: 1400px) {
  .Image img {
    -webkit-transition: 1s;
    width: 450px;
    height: 450px;
    margin-left: 200px;
  }
  .Image {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1300px) {
  .Image img {
    -webkit-transition: 1s;
    width: 350px;
    height: 350px;
    margin-left: 120px;
  }
  .Image {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1100px) {
  .Image img {
    -webkit-transition: 1s;
    width: 250px;
    height: 250px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .BinpactText {
    font-weight: 540;
    -webkit-transition: 1s;
    font-size: 70px;
    text-align: center;
    margin-left: 40px;
  }
  .BinpactText {
    padding-bottom: 20px;
  }
  .ALLMain {
    -webkit-transition: 1s;
    flex-direction: column;

    margin-left: 150px;
  }
  .Image img {
    -webkit-transition: 1s;
    width: 250px;

    margin-left: 280px;
  }
  .TextDeignDiplayNone {
    display: none;
  }
  .BinpactText {
    height: 100px;
  }
  .ButtonImageResposive {
    margin-left: 50px;
    width: 250px;
    display: inline;
  }
  .ButtonImageResposive button {
    border-radius: 15px;
    border: none;
    margin-left: 150px;
    background-color: #2a65aa;
    color: white;
    opacity: 80%;
    width: 100px;
    height: 30px;
    border-radius: 30px;
  }
  .ButtonImageResposive button:hover {
    opacity: 100%;
  }
  .Image img {
    margin-top: 20px;
  }
}
.Print02 {
  width: 180px;
  font-size: 18px;
  margin-left: 150px;
  margin-top: 30px;
  width: 190px;
  text-align: left;
  text-align: justify;
}
.Print02 p {
  font-size: "Myriad Roman*";
}

@media screen and (max-width: 700px) {
  .BinpactText {
    font-weight: 540;
    -webkit-transition: 1s;
    font-size: 70px;
    text-align: center;
    margin-left: 40px;
  }
  .BinpactText {
    padding-bottom: 20px;
  }
  .ALLMain {
    -webkit-transition: 1s;
    flex-direction: column;
    height: 300px;
    margin-left: 0px;
  }
  .Image img {
    -webkit-transition: 1s;
    width: 200px;
    height: 200px;
    margin-left: 280px;
  }
  .TextDeignDiplayNone {
    display: none;
  }
  .BinpactText {
    height: 100px;
  }
  .ButtonImageResposive {
    margin-left: 50px;
    width: 250px;
    display: inline;
  }
  .ButtonImageResposive button {
    border-radius: 15px;
    border: none;
    margin-left: 150px;
    background-color: #2a65aa;
    color: white;
    opacity: 80%;
    width: 100px;
    height: 30px;
    border-radius: 30px;
  }
  .ButtonImageResposive button:hover {
    opacity: 100%;
  }
  .Image img {
    margin-top: 20px;
  }
}
.Print02 {
  width: 180px;
  font-size: 18px;
  margin-left: 150px;
  margin-top: 30px;
  width: 190px;
  text-align: left;
  text-align: justify;
}
.Print02 p {
  font-size: "Myriad Roman*";
}
